<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id        = "com.rcclayton.free.utility.currencyconverter"
        version   = "1.0.0">
 
   <name>Currency converter</name>
 
   <description>Currency converter is a simple app that helps you convert from a currency to another. You can update the exchange rates anytime you want so you'll have always an up-to-date conversion.</description>
 
   <author href="rcclayton.com" email="rcarrillo@uchicago.edu">Rebeca Carrillo</author>
 
   <feature name="http://api.phonegap.com/1.0/network"/>
 
   
   <preference name="target-device" value="universal" />
 
   
</widget>
